################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Demo.ApiProject/bin/Debug/net10.0
/.vs
/src/Demo.ApiProject/obj
/src/Demo.Domain/bin/Debug/net10.0
/src/Demo.Domain/obj
/src/Demo.Infrastructure.FuelEconomyService/bin/Debug/net10.0
/src/Demo.Infrastructure.FuelEconomyService/obj
/src/Demo.Infrastructure.AuthorizationService/bin/Debug/net10.0
/src/Demo.Infrastructure.AuthorizationService/obj
/src/Demo.Infrastructure.AuthenticationService/bin/Debug/net10.0
/src/Demo.Infrastructure.AuthenticationService/obj
